.sign-in{
    height: calc(100vh - 70px);
    transform: translateY(100px);
    h1{
        text-align: center;
    }
    form{
        margin: 0 auto;
        width: 50%;
        height: 220px;
    }
}