* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.main-layout {
    max-width: 1400px;
    margin: 0 auto;
}

.main-content {
    max-width: 1024px;
    margin: 0 auto;
}

.stepper{
    margin-block-start: 0.5rem;
    a{
        color: #aaafb4;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    span{margin: 0 0.5rem;}
    .stepper-active{
        color: black;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}