header {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    .header-nav{
        height: 70px;
        a {text-decoration: none;}
        h1 {color: black;}
        .user-header{
            width: 20%;
            border: 5px dotted white;
            padding: 0 0.3rem;
            button{
                outline: 0;
                border: 0;
                background: transparent;
                cursor: pointer;
                &:hover{
                    color: white;
                }
            }
        }
        
        .navbar a {
            margin-inline-start: 2rem;
            text-decoration: none;
            color: black;
            &.active{
                text-decoration: overline;
                color: white;
            }
        }
        .mobile-nav-icon{display: none;}
    }
}