header {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    .header-nav{
        height: 70px;
        a {text-decoration: none;}
        h1 {color: black;}
        .user-header{
            width: 20%;
            padding: 0 0.3rem;
            svg{
                transform: scaleX(-1);
            }
        }
        
        .navbar a {
            margin-inline-start: 2rem;
            text-decoration: none;
            color: black;
            &.active{
                text-decoration: overline;
            }
        }
        .cart-navbar{
            position: relative;
            &::after{
                content: attr(data-count);
                position: absolute;
                top: -3px;
                left: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: #0073ea;
                color: white;
                font-size: 0.9rem;
            }
        }
        .mobile-nav-icon{display: none;}
    }
}